#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

#modal div{
    border: 1px solid black;
    background-color: white;
    width: 50%;
}